<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Money</title>
<link href="css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<form role="form" th:action="@{/calcular}" method="post">
		<div class="form-group">
		<h1>Cambio de dólares a euros</h1>
		
		</div>
		<div class="form-group">
		
			<label for="dolar">Dolares:</label> <input type="text"
				class="form-control" id="dolar" name="dolar"/>
		</div>
		<div class="form-group">
				<label for="valor">cotizado en Euros:</label> <label th:text="${valorEuros}"></label>
		</div>
		
		<button type="submit" class="btn btn-primary btn-md">Submit</button>
		
	</form>

</body>
</html>